parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Domain\\Support\\Casts\\MoneyCast implements generic interface Illuminate\\Contracts\\Database\\Eloquent\\CastsAttributes but does not specify its types\: TGet, TSet$#'
			identifier: missingType.generics
			count: 1
			path: app/Domain/Support/Casts/MoneyCast.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Domain/Support/Money.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Http\\Controllers\\SettingsController\:\:update\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/SettingsController.php

		-
			message: '#^Method App\\Http\\Controllers\\TenantController\:\:destroy\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/TenantController.php

		-
			message: '#^Method App\\Http\\Controllers\\TenantController\:\:store\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/TenantController.php

		-
			message: '#^Method App\\Http\\Controllers\\TenantController\:\:update\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/TenantController.php

		-
			message: '#^Relation ''users'' is not found in App\\Models\\Tenant model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/TenantController.php

		-
			message: '#^Method App\\Http\\Controllers\\UserController\:\:destroy\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Method App\\Http\\Controllers\\UserController\:\:store\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Method App\\Http\\Controllers\\UserController\:\:update\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Relation ''tenant'' is not found in App\\Models\\User model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/UserController.php

		-
			message: '#^Class App\\Models\\Tenant uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:getSettings\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:getSettings\(\) has parameter \$default with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:setSettings\(\) has parameter \$settings with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\Tenant\:\:users\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Return type \(Spatie\\Multitenancy\\TenantCollection\) of method App\\Models\\Tenant\:\:newCollection\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\), static\(Illuminate\\Database\\Eloquent\\Model\)\>\) of method Illuminate\\Database\\Eloquent\\Model\:\:newCollection\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/Tenant.php

		-
			message: '#^Method App\\Models\\User\:\:tenant\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$is_system\.$#'
			identifier: property.notFound
			count: 1
			path: app/Tenancy/ProvisionTenant.php

		-
			message: '#^Method App\\Tenancy\\ProvisionTenant\:\:seedTenant\(\) has parameter \$owner with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Tenancy/ProvisionTenant.php
